html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background: linear-gradient(45deg, #ff9a9e, #fad0c4, #fcb69f);
    color: #333;
    margin-top: 40px; 
}

.header-custom {
    background-color: #3498db; 
    color: #fff; 
    padding: 0px; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
.font-weight-bold {
    font-weight: bold; /* Pogrubienie czcionki */
}
